body{
    background: #e3e3e3;
    position: relative;
    font-family: "Avenir Book", sans-serif;
}

p a {
    width: 270px;
    height: 75px;
    background: #9E9E9E;
    border-radius: 15px;
    border :none;
    text-align: center;
    font-family: "Avenir Book", sans-serif;
    font-size: 25px;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}

p a:hover{
    background: white;
    color: grey;
    border: 1px solid grey;
}

p a{position:relative;z-index:8;}

