<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'nav&footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'page.css') }}">
    <title>Biggimac</title>
</head>
<body>
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/index.html">Accueil
                <!--<img src="IMAGES/Nume.png">-->
            </a>
            <a href="/order.html">Marketplace </a>
            <a href="/orders.html">Compte</a>
            <a href="/connexion.html">Connexion</a>
        </div>
    </nav>
    <p><a href="/order.html">Effectuer une commande</a></p>
    <p><a href="/orders.html">Consulter les commandes</a></p>
    </body>
</html>
