<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/nav&footer.css">
    <link rel="stylesheet" type="text/css" href="static/page.css">
    <script defer type="module" src="/static/order.js"></script>
    <title>Biggimac</title>
</head>
<body>
    <nav>
        <label class="menu" for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/index.html">Accueil
                <!--<img src="IMAGES/Nume.png">-->
            </a>
            <a href="/order.html">Commander</a>
            <a href="/orderSummary.html">Récapitulatif Commande</a>
            <a href="/orders.html">Historique Commande</a>
            <a href="/register.html">S'inscrire</a>
            <a href="/login.html">Connexion</a>
        </div>
    </nav>
    <p><a href="/index.html">Retour à la page précédente</a></p>
    <p></p>
    <p>Produits disponibles :</p>
    <parts>
    </parts>
        <button id="leBouton">Commander</button>
        <p id="texte">Vous devez être connecté pour passer une commande.</p>
        <a id="bouton_a" href="/login.html">Se connecter</a> <!--|--> <a id="bouton_a" href="/register.html">S'inscrire</a>
</body>
</html>
