<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/nav&footer.css">
    <link rel="stylesheet" type="text/css" href="static/page.css">
    <script defer type="module" src="/static/orderSummary.js"></script>
    <title>Biggimac</title>
</head>
<body>
    <nav>
        <label class="menu" for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/index.html">Accueil
                <!--<img src="IMAGES/Nume.png">-->
            </a>
            <a href="/order.html">Commander</a>
            <a href="/orderSummary.html">Récapitulatif Commande</a>
            <a href="/orders.html">Historique Commande</a>
            <a href="/register.html">S'inscrire</a>
            <a href="/login.html">Connexion</a>
        </div>
    </nav>
    <p><a href="/index.html">Retour à la page précédente</a></p>
    <p><a href="/order.html">Nouvelle commande</a></p>
    <p></p>
    <p>Produits commandés :</p>
    <parts>
    </parts>
    <button id="leBouton">Annuler la commande</button>
</body>
</html>
