<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Biggimac</title>
</head>
<body>
    <p><a href="/index.html">Retour</a></p>
    <p></p>
    <p>Liste des commandes passées :</p>
    <parts>
    </parts>

    <p></p>
    <button id="leBouton">Supprimmer les commandes sélectionnées</button>
</body>
<script type="module">
"use strict";

let data = await fetch("/orders");
let orders = await data.json();


function onLoad() {
    const partsHolder = document.getElementsByTagName("parts")[0];


    const partsList = document.createElement("div");
    for (const [id, time, ingres] of orders.list) {
        let partOfList = document.createElement("div");
        partOfList.innerHTML = `<input type=\"checkbox\" id=\"${id}\" name=\"${id}\"><label for=\"${id}\">n°${id} à ${time} : ${ingres}</label>`;
        partsList.appendChild(partOfList);
    }
    partsHolder.appendChild(partsList);
}

function supprimmerCommandes() {
    let suppressions = [];
    for (const [id, a, b] of orders.list) {
        if (document.getElementById(id).checked) {
            suppressions.push(id);
        }
    }

    const send = JSON.stringify(suppressions);

    fetch("/orders", {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            "Content-Type": "application/json"
        },
        body: send
    })
        .then(_ => window.location.replace("/orders.html"));
}

const bouton = document.getElementById("leBouton");
bouton.addEventListener("click", supprimmerCommandes);

onLoad();
</script>
</html>
