<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/page.css">
    <link rel="stylesheet" type="text/css" href="../css/nav&footer.css">
    <title>Biggimac</title>
</head>
<body>
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/index.html">Accueil
                <!--<img src="IMAGES/Nume.png">-->
            </a>
            <a href="/order.html">Marketplace </a>
            <a href="/orders.html">À propos</a>
            <a href="/connexion.html">Connexion</a>
        </div>
    </nav>
    <p><a href="/index.html">Retour à la page précédente</a></p>
    <p></p>
    <p>Ingrédients disponibles :</p>
    <parts>
    </parts>
        <button id="leBouton">Commander</button>
    {% if user_is_authenticated %}
        <button id="leBouton">Commander</button>
    {% else %}
        <p id="texte">Vous devez être connecté pour passer une commande.</p>
        <a id="bouton_a" href="/login.html">Se connecter</a> <!--|--> <a id="bouton_a" href="/register.html">S'inscrire</a>
    {% endif %}

    <script type="module">
        "use strict";

        let data = await fetch("/ingres"); // récupère la liste des ingrédients à la route /order sur le serv.py
        let parts = await data.json();

        // devrait créer la liste des éléments à checker sur la page /order.html et l'afficher ; ouvert sur le server.py quand on va sur /order.html 
        function onLoad() {
            const partsHolder = document.getElementsByTagName("parts")[0];

            const partsList = document.createElement("div");
            partsList.setAttribute("id", "container");
            for (const part of parts.list) {
                let partOfList = document.createElement("div");
                partOfList.innerHTML = `<input type=\"checkbox\" id=\"${part[0]}\" name=\"${part[0]}\"><label for=\"${part[0]}\">${part[1]}</label>`;
                partsList.appendChild(partOfList);
            }
            partsHolder.appendChild(partsList);
        }

        // lancée quand on appuie sur le bouton , créer la liste d'id d'ingrédients checkée
        function passerCommande() {
            let ingredients = [];
            const boxes = document.getElementById("container").getElementsByTagName("input");
            for (const box of boxes) {
                if (box.checked) {
                    ingredients.push(box.id);
                }
            }
            const send = JSON.stringify(ingredients);
            window.name = JSON.stringify({
                infos: parts.list,
                taken: ingredients
            });
            // renvoit sur le server.py avec la méthode post 
            fetch("/order.html", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    "Content-Type": "application/json"
                },
                body: send // donnée envoyée
            })
                .then(_ => window.location.href = "/orderSummary.html");
        }

        onLoad();
        const bouton = document.getElementById("leBouton");
        bouton.addEventListener("click", passerCommande);
    </script>
    {% if user_is_authenticated %}
        const bouton = document.getElementById("leBouton");
        bouton.addEventListener("click", passerCommande);
    {% endif %}
</body>
</html>```