<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Biggimac</title>
</head>
<body>
    <p><a href="/index.html">Retour</a></p>
    <p></p>
    <p>Liste des commandes passées :</p>
    <parts>
    </parts>

    <p></p>
    <button id="leBouton">Supprimmer les commandes sélectionnées</button>
</body>
<script type="module">
"use strict";

let data = await fetch("/orders");//fetch méthode get , select avec get_order id_order id_client TIMESTAMP id_ingredient pour chaque ingrédient, pour chaque id_client trié par id_order 
let orders = await data.json();


function onLoad() {
    const partsHolder = document.getElementsByTagName("parts")[0];


    const partsList = document.createElement("div");
    partsList.setAttribute("id", "container");
    commande=[];
    numero_commande=0;
    for (let i = 0; i < orders.length; i++)//  je fais un for sur ce bazar avec tout les ingrédients de toutes les commandes triées par id_order ce qui me permet de faire un while (tant que c'est la commande n°XXX : on regroupe tout les ingrédients ) . Le résultat c'est un tab avec des tuples à 4 éléments : id_order, id_client, time , ingredients . Ingredients c'est un tab avec tout les ingrédients que je créer dans la while. 
    {
        id_order0=(orders[i])[0];
        id_order=id_order0;
        id_client=(orders[i])[1];
        time=(orders[i])[2];
        compte_ingredient=0;
        (commande[numero_commande])=[id_order,id_client,time,[]]; 
        while(id_order==id_order0)
        {
            ingredient=(orders[i])[3];
            ((commande[numero_commande])[3])[compte_ingredient]=ingredient;
            i++;
            id_order=(orders[i])[0]
            compte_ingredient++;
        }
        numero_commande++;
    }
    
    for([id_order,id_client,time,ingredients] of commande.list)
    {
        let partOfList = document.createElement("div");
        partOfList.innerHTML = `<input type=\"checkbox\" id=\"${id_order}\" name=\"${id_order}\"><label for=\"${id_order}\">n°${id_order} à ${time} pour ${id_client}: ${ingredients.join(', ')}</label>`;
        partsList.appendChild(partOfList);
    }
    partsHolder.appendChild(partsList);
}

function supprimmerCommandes() {
    let suppressions = [];
    const boxes = document.getElementById("container").getElementsByTagName("input");
    for (const box of boxes) {
        if (box.checked) {
            suppressions.push(box.id);
        }
    }

    const send = JSON.stringify(suppressions);

    fetch("/orders", {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            "Content-Type": "application/json"
        },
        body: send
    })
        .then(_ => window.location.replace("/orders.html"));
}

const bouton = document.getElementById("leBouton");
bouton.addEventListener("click", supprimmerCommandes);

onLoad();
</script>
</html>
