<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'nav&footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'page.css') }}">
    <title>Biggimac</title>
</head>
<body>
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/index.html">Accueil
                <!--<img src="IMAGES/Nume.png">-->
            </a>
            <a href="/order.html">Commander</a>
            <a href="/orderSummary.html">Récapitulatif Commande</a>
            <a href="/orders.html">Historique Commande</a>
            <a href="/register.html">S'inscrire</a>
            <a href="/login.html">Connexion</a>
        </div>
    </nav>
    <p><a href="/index.html">Retour à la page précédente</a></p>
    <p><a href="/order.html">Nouvelle commande</a></p>
    <p></p>
    <p>Produits commandés :</p>
    <parts>
    </parts>
    <button id="leBouton">Annuler la commande</button>
</body>
<script type="module">
"use strict";

function onLoad() {
    const partsHolder = document.getElementsByTagName("parts")[0];
    console.log(window.name)
    const commande = JSON.parse(window.name);
    console.log(commande);


    const partsList = document.createElement("ul");
    for (const ingre of commande.taken) {
        let partOfList = document.createElement("li");
        partOfList.innerHTML = commande.infos.find(e => {return e[0] == ingre;})[1];
        partsList.appendChild(partOfList);
    }
    partsHolder.appendChild(partsList);
}

function annulerCommande() {
    bouton.innerHTML = "Trop tard, la commande est déjà passée";
}

const bouton = document.getElementById("leBouton");
bouton.addEventListener("click", annulerCommande);

onLoad();
</script>
</html>
