<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Biggimac</title>
</head>
<body>
    <p><a href="/index.html">Retour</a></p>
    <p><a href="/order.html">Nouvelle commande</a></p>
    <p></p>
    <p>Ingrédients commandés :</p>
    <parts>
    </parts>
</body>
<script type="module">
"use strict";

function onLoad() {
    const partsHolder = document.getElementsByTagName("parts")[0];
    const commande = JSON.parse(window.name);
    console.log(commande);


    const partsList = document.createElement("ul");
    for (const ingre of commande) {
        let partOfList = document.createElement("li");
        partOfList.innerHTML = ingre;
        partsList.appendChild(partOfList);
    }
    partsHolder.appendChild(partsList);
}

function passerCommande() {
    let ingredients = [];
    for (const part of parts.list) {
        if (document.getElementById(part).checked) {
            ingredients.push(part);
        }
    }

    const send = JSON.stringify(ingredients);
    window.name = send;

    fetch("/order.html", {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            "Content-Type": "application/json"
        },
        body: send
    })
        .then(_ => window.location.href = "/orderSummary.html");
}

onLoad();
</script>
</html>
